/* color palette 
https: //coolors.co/f2dc5d-f2a359-db9065-a4031f-240b36 
Lemon Chiffon #FAF3C7 with background Ruby Red #A4031F
Sandy Brown #F2A359 with background Dark Amethyst #240B36*/


header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 10px;
    margin: 5px;
    background-color: #240B36;
}

header span {
    font-size: 1.2rem;
    color: #F2A359;
}

header img {
    display: block;
    width: 42px;
    height: auto;
    /* background-color: gray; */
    /* border-radius: 10px; */
}

.logoContainer {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logoContainer span {
    font-weight: 450;
}

/* HAMBURGER */

.hamburger {
    background: none;
    border: none;
    justify-self: end;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    cursor: pointer;
    color: #F2A359;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
}

/* NAVIGATION */

.navigation {
    display: none;
    justify-self: end;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
}

.navigation a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #F2A359;
}

.navigation li.current {
    border-bottom: 2px solid #F2A359;
    padding: 2px;
}

.navigation a:hover {
    background-color: #F2A359;
    color: #240B36;
    padding: 6px;
}

h1 {
    margin-left: 1rem;
    color: #240B36;
}

/* FOOTER */

footer {
    align-items: center;
    padding: 10px;
    margin: 5px;
    background-color: #240B36;
    color: #F2A359;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #F2A359 solid 1px;
    border-radius: 22px;
}

.social img {
    width: 22px;
    height: 22px;
    color: #F2A359;
}

.social a:hover {
    background-color: #ddd;
}

