/* color palette 

#FFECD1 - papaya whip - Nav/Footer letters,
and body background 
#78290F - brandy - Nav/Footer background #2B2D2F - Graphite - letters 
#F4F1EA - Parchment - background

*/


header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 10px;
    margin: 5px;
    background-color: #78290F;
}

header span {
    font-size: 1.2rem;
    color: #FFECD1;
}

header img {
    display: block;
    width: 42px;
    height: auto;
    /* background-color: gray; */
    /* border-radius: 10px; */
}

.logoContainer {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logoContainer span {
    font-weight: 450;
}

/* HAMBURGER */

.hamburger {
    background: none;
    border: none;
    justify-self: end;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    cursor: pointer;
    color: #FFECD1;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
}

/* NAVIGATION */

.navigation {
    display: none;
    justify-self: end;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
}

.navigation a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #FFECD1;
}

.navigation li.current {
    border-bottom: 2px solid #FFECD1;
    padding: 2px;
}

.navigation a:hover {
    background-color: #F4F1EA;
    color: #78290F;
    padding: 6px;
}

h1 {
    margin-left: 1rem;
    color: #2B2D2F;
}

/* MENU */

.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-left: 1rem;
}

.menu button {
    padding: 10px 25px;
    cursor: pointer;
}


/* HERO SECTION */

.hero {
    position: relative;
    display: block;
    width: 100%;
    
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.heroContainer p {
    padding: 10px;
    background-color: #F4F1EA;
    border: 1px solid #2B2D2F;
    border-radius: 8px;
}

/* WEATHER SECTION */

.homeContainer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 10px;
}


h2 {
    color: #F4F1EA;
    background-color: #2B2D2F;
    padding: 8px;
    margin-top: 0px;
}

.weather {
    background-color: #FFECD1;
    padding: 15px;
    border: 1px solid gray;
    border-radius: 8px;
    width: 420px;
    max-width: 100%;
    margin: 0 auto;
}

.weather > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* padding: 10px; */
    align-items: center;
    gap: 5px 16px;

}

.weather h2 {
    grid-column: span 2;
    margin-bottom: 10px;
    /* text-align: center; */
}

.weather p {
    /* grid-column: 2; */
    margin: 0;
    padding: 0;
}

#currentTemp {
    grid-column: span 1;
}

#graphic {
    grid-column: 1;
    grid-row: 2;
    object-fit: contain;
    justify-self: start;
    max-width: 64px;
}

#description {
    grid-column: 1;
    grid-row: 3;
}

/* SCENARIO SECTION */

.scenarioContainer {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}

.scenario1, .scenario2 {
    background-color:#F4F1EA;
    padding: 10px;
    border: 1px solid #2B2D2F;
    border-radius: 8px;
    margin-bottom: 16px;
}

/* COMMUNITY PAGE */

#trails, #vendors {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.trails p,
.vendors p {
    margin: 1rem;
}

#trails h3,
#vendors h3 {
    margin: 1rem;
}

#trails img,
#vendors img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    padding: 15px;
}

#trails section,
#vendors section {
    border-bottom: 2px dashed #78290F;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

#trails section:last-child,
#vendors section:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

/* TRAIL SECTION */

.trails {
    background-color: #FFECD1;
    border: 1px solid #2B2D2F;
    border-radius: 8px;
    margin: 10px 10px 25px 10px;
    padding: 8px;
}



/* VENDOR SECTION */

.vendors {
    background-color: #F4F1EA;
    border: 1px solid #2B2D2F;
    border-radius: 8px;
    margin: 10px 10px 25px 10px;
    padding: 8px;
}

.vendors a {
    text-decoration: none;
    margin: 1rem;
}

.vendors a:hover {
    color: #78290F;
    text-decoration: underline;
}




/* FOOTER */

footer {
    align-items: center;
    padding: 10px;
    margin: 5px;
    background-color: #78290F;
    color: #FFECD1;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #FFECD1 solid 1px;
    border-radius: 22px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #2B2D2F;
}

