@media only screen and (min-width: 800px) {
    header {
        grid-template-columns: auto 1fr auto;
        padding: 1rem;
    }
    
    
    .hamburger {
        display: none;
        justify-self: end;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .navigation a {
        border: none;
    }

    .homeContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
        max-width: 1400px;
        margin: 0 auto;
        align-items: stretch;
    }


    h1, .hero {
        grid-column: span 3;
    }

    .hero img {
        max-height: 600px;
        object-fit: cover;
    }


    .weather {
        grid-column: span 1;
        max-width: none;
    }

    .scenarioContainer {
        grid-column: 2 / 4;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
        padding: 0;
    }

    .scenario1, .scenario2 {
        background-color: #FFECD1;
        margin: 0;
    }

    

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .contact {
        text-align: justify;
        padding-left: 10px;
        margin-left: 2rem;
    }

    .author {
        text-align: justify;
    }
}