/* color palette - https: //coolors.co/466365-b49a67-ceb3ab-c4c6e7-baa5ff 

camel - #B49A67
granite - #466365
almond silk - #CEB3AB
*/



* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    /* padding: 5px; */
}

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.2rem;
    font-weight: bold;
    color: #466365;
}

.hamburger {
    background: none;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    color: #466365;
    cursor: pointer;
}

.hamburger::before {
    content: "\2630";
    font-size: 1.5rem;
}

.hamburger.show::before {
    content: "\00D7";
}

.navigation {
    display: none;
    background-color: #CEB3AB;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .5rem 10px;
    color: #466365;
    text-decoration: none;
    border-bottom: solid 1px #ccc;
}

.navigation li.current {
    background-color: #eee;
}

.navigation a:hover {
    background-color: #B49A67;
}

h1 {
    margin-left: 1rem;
    grid-column: 1 / -1;
    padding: 8px;
    margin: 2px;
    /* background-color: #CEB3AB; */
    color: #466365;
}

h2 {
    background-color: #CEB3AB;
    text-align: center;
    margin: 0;
    padding: 4px;
}

main {
    display: block;
}

section {
    margin: 10px;
    padding: 8px;
    background-color: #eee;
    color: #466365;
    border: 1px solid;
}

.studentImg h2 {
    width: 100%;
}

.studentImg {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
}

.studentImg img {
    display: block;
    margin: 10px auto;
    width: 100%;
    height: auto;
}

.filters {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    /* justify-content: space-evenly; */
}

.filters button {
    padding: 8px 25px;
    margin-top: 10px;
    color: #466365;
    background-color: #ccc;
    border: solid 1px #466365;
    border-radius: 10px;
    cursor: pointer;
}

.filters button:hover {
    background-color: #B49A67;
}

#courseList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    list-style: none;
    padding: 0;
    gap: 10px;
}

#courseList li {
    padding: 10px;
    background-color: #ccc;
    color: #333;
    text-align: center;
    border-radius: 8px;
}

#courseList li.completed {
    background-color: #466365;
    color: white;
    border: 1px solid #2c3e40;
}
/* .courses ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    padding: 0;
    text-align: center;
    gap: 10px;
} */



.courses p {
    text-align: center;
    color: #466365;
}

footer {
    background-color: #CEB3AB;
    padding: 1rem 10px;
    text-align: center;
    color: #466365;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #bbb solid 1px;
    border-radius: 12px;
}

.social a:hover {
    background-color: #B49A67;
}

.social img {
    width: 24px;
    height: 24px;
}

/* camel - #B49A67 
granite - #466365 
almond silk - #CEB3AB */