@media only screen and (min-width: 640px) {

    header, main, nav, footer {
        /* max-width: 1400px; */
        margin: 0 auto;
    }

        .wireframe {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 4px;
            text-align: left;
        }
    
        .wireframe h2 {
            grid-column: 1 / -1;
        }
    
        .wireframeCard {
            align-items: flex-start;
            max-width: none;
        }
    
        .wireframe p {
            text-align: center;
        }
    
        .wireframeCard img {
            display: block;
            max-width: 100%;
            height: auto;
            object-fit: contain;
        }
    }